:root {
  --background-color: #ffffff;
  --primary-color: #000000;
}
body {
  color: var(--primary-color);
  background-color: var(--background-color);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  color: #f5f5f5;
  font-weight: 500;
}

.navigation__link {
  color: #cecece;
  font-size: 16px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
:hover,
:focus {
  color: #ffffff;
}

.navigation__link--current {
  color: #ffffff;
}
